{% extends 'layout.html.twig' %}

{% block container_content %}
<h1> Example Logging Website</h1>
    <p>Navigate round the site and complete the various actions to trigger business 
    / domain events in the logs.
    </p>
    
    <h2>Donations Welcome</h2>
    <p>It costs loads of money to keep this boat running!</p>
    <p>Enter an amount in the box below and we'll magically deduct it from your 
       bank account!</p>

    <form method="post" action="/donate-handler">
        <div><label for="cash">Amount: </label><input type="text" name="cash" /></div>
        <div><input type="submit" name="submit" value="Donate" /></div>
    </form>
        
{% endblock %}